/*******************
universal styles
*******************/
@font-face {
    font-family: marvel;
    src: url('./masked_marvel/mask.ttf');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: marvel;
  font-size: 22px;
  background: black;
}

/*******************
choose character page
*******************/
.white-large {
  color: white;
  font-size: 60px;
  text-align: center;
}
.choose-char-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.char-container {
  width: calc(20% - 20px);
  border: 2px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.thumbnail {
  height: 215%;
  width: 100%;
}
.char-name {
  font-family: marvel;
  font-size: 26px;
}
button {
  /*margin: auto;*/
}
.char-info {
  height: 40%;
}

/*******************
battle page
*******************/

.battle-main {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
  padding-top: 20px;
}
.right-align {
  text-align: right;
  margin-right: 10%;
}
#cpu-health-bar {
  margin-left: 70%;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
button {
  font-family: marvel;
  font-size: 36px;
  border-radius: 5px;
  margin: 20px;
  background: white;
  outline: none;
}
progress[value] {
  -webkit-appearance: none;
   appearance: none;
  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: darkgray;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(left,#c40c09, #1dbf0b);
  border-radius: 2px;

}
.stage1 {
  background: url('./images/stage1.gif') no-repeat center center ;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.stage2 {
  background: url('./images/stage2.gif') no-repeat center center ;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.stage3 {
  background: url('./images/stage3.gif') no-repeat center center ;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.stage5 {
  background: url('./images/stage5.gif') no-repeat center center ;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.stage6 {
  background: url('./images/stage6.gif') no-repeat center center ;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.stage7 {
  background: url('./images/stage7.gif') no-repeat center center ;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
